
:root {
    --accent-color: #2196F3;
    --main-text-cl: #757575;
    --title-cl: #212121;
    --main-bgc: #E5E5E5;
    --secondary-bgc: #F5F4FA;
    --header-cl: #212121;
    --header-cl-hover: #2196F3;
    --our-team-card-cl: #FFFFFF;
    --portfolio-card-cl: #FFFFFF;
}

body {
    color: var(--main-text-cl);
    background-color:#FFFFFF ;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* сброс всех margin c тегов Р*/
p {
    margin-top: 0;
    margin-bottom: 0;
}
/* сброс всех margin с тегов Н2 */
h1,
h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.image {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Логотип */

.page-header {
    /*background-color: peru;*/
    border-bottom: 1px solid #ECECEC;
    margin-left: auto;
    margin-right: auto;
   
}


.container {
    /*background-color: powderblue;
    outline: 2px solid tomato;*/
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.link {
    text-decoration: none;
    
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    /*outline: 5px solid #331e9e;*/
}

.list-decor {
    list-style: none;
    padding: 0;
    margin: 0;
}
.logoweb {
    color:#2196F3 ;
    font-family:'Raleway';  
    font-size: 26px;
    line-height: 1.2;
}
.logostudio {
    color: #212121;
    font-family:'Raleway';
    font-size: 26px;
    line-height: 1.2;
    }


.logostudiofooter {
    color: #FFFFFF ;
    font-family:'Raleway';
    font-size: 26px;
    line-height: 1.2;
    }



/* Стилизация NAV */
.nav-box-flex {
   display: flex;  
}
.header-flex {
    display: flex;
}

.site-nav-flex {
    display: flex;
    margin-left: 93px; 
    align-items: center;    
}

.site-nav-flex .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav-item {
    margin-right: 50px;
}

.site-nav-item:last-child {
    margin-right: 0;
}

.auth-nav-flex {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-nav-flex .link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.tel-position {
    margin-right: 50px;
}

.site-nav .link {
    color: var(--header-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}
   
.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--header-cl-hover);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}
.site-nav .link-current {
    color: var(--header-cl-hover);
}
.auth-nav .link {
    color: var(--main-text-cl) ;
    font-weight: 500;
    font-size: 14px;   
}

.auth-nav .link:focus,
.auth-nav .link:hover {
    color: var(--header-cl-hover);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}

.auth-nav-icon::before {
    
    /*width: 30px;
    height: 20px;*/
    content: " ";
    outline: 1px solid red;
    margin-right: 10px;
    background-image: url(../images/smartphone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.nav-box {
    padding-top: 24px;
    
}

.logo-box {
    box-sizing: border-box;
    width: 145px;
    margin-bottom: 25px;
}
/* Стилизация HERO */


.hero {
    background-color: #C4C4C4;
    max-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: url(../images/hero-fon.jpg),
    url(../images/hero-Overlay.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
      
}

.hero-title {

    color: #FFFFFF;
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    text-align: center;
    padding-bottom: 30px;
    
}

.hero-button {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    display: inline-block;
    
    letter-spacing: 0.06em;
    border-width: 0;
    
}


.hero-button:focus,
.hero-button:hover {
    background: #F5F4FA;
    color: #212121;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;   
}


.our-priorities {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px; 
}
.our-priorities-box {
    display: flex;
    justify-content: space-between;
}


.prioritie-flex {
    
    margin-right: 30px;
    width: 270px;
}

.prioritie-flex::before {
    content: " ";
    display: block;
    height: 120px;
   
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    
}
.prioritie-flex:nth-child(1)::before {
     background-image: url(../images/Antenna.png);
}
.prioritie-flex:nth-child(2)::before {
    background-image: url(../images/clock\ 1.png);
}
.prioritie-flex:nth-child(3)::before {
    background-image: url(../images/diagram\ 1.png);
}
.prioritie-flex:nth-child(4)::before {
    background-image: url(../images/astronaut\ 1.png);
}
.prioritie-flex:last-child {
    margin-right: 0;
}

.priorities-text {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
    margin-bottom: 0;
    width: 270px;

   
}

.what-we-do {

    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 50px;
    
}
.dumping-top {
    margin-top: -94px;
}


.what-we-do-flex {
    display: flex;
    justify-content: space-between;
}


/* Наша команда */

.sec-our-team {
    background-color: var(--secondary-bgc);
    
}

.our-team {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  
    margin-bottom: 50px; 
}

.our-team-flex {
    display: flex;
}
.our-team-card {
    
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--our-team-card-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-right: 30px;
}

.our-team-card:last-child {
    margin-right: 0;
}



.team-list {
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
    padding-bottom: 10px;
}


.team-expert {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}

/* Футер */
.page-footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
   
}

.footer-сontact a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;

}
.footer-box {
    margin-top: 20px;
}

.team-email {
    margin-top: 9px;
    margin-bottom: 9px;
}



.address a {
    color: #FFFFFF;
}

.footer-сontact .link:focus,
.footer-сontact .link:hover {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}
/* Портфолио */

.filter-flex {
    display: flex;
    flex-wrap: wrap;
}

.btn-flex {
    display: flex;
    justify-content: center;
}

.filter-button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background-color: #F5F4FA;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border-width: 0px;

}

.filter-button:focus,
.filter-button:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: var(--accent-color);
    color: #FFFFFF;
    border-radius: 4px;
}

.filter-box {
    margin-bottom: 50px;
}
.filter-name {
    font-size: 16px;
    line-height: 1.9;
}
.filter-card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--portfolio-card-cl);  
}

.filter-card:nth-child(3n) {
    margin-right: 0;
}
.filter-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.filter-card {
 
}

.title-filter {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}




.filter-item-btn {
    margin-right: 8px;

}
.filter-item-btn:last-child {
    margin-right: 0;
}

.project-name {
    margin-top: 0;
    margin-bottom: 0;
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    padding-bottom: 4px;
    
}









